body {
    background: linear-gradient(135deg, #2a2a2a 0%, #1a1a1a 100%);
    height: 100vh;
    margin: 0;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
img{
    display: block;
    height: 100%;
    width: 100%;
    margin-bottom: 3%;
    margin-top: 10%;
    border-radius: 2%;
}
a{
    text-decoration: none;
    font-family:desi;
    margin: 0.25%;
    display: inline-block;
    padding: 1% 2%;
    background: linear-gradient(67deg, #0b5d50 0%, #b0d505 100%);
    color: white;
    border-radius: 20px;
    font-size: 16px;
    transition: all linear(0, 0.995 37.6%, 0.838 50%, 0.998 65.6%, 0.954 73.2%, 1);
    font-weight: 25;
    transition-duration: 0.5s;
}
li{
    margin: 12px 0;
}
.main {
    margin: 12px 0;
}
a:hover {
    transform: translateY(5%);
    box-shadow: 0 4px 32px #2b585a;
}
a:active {
    transform: translateY(0);
    box-shadow: 0 8px 64px #2b585a;
}
@font-face{
    font-family: desi;
    src: url(Designer.otf)
}
.box{
    border-radius: 25px;
    background: linear-gradient(157deg, rgba(15, 125, 100, 0.25) 0%, rgba(200, 225, 10, 0.25) 100%);
    padding: 1% 1.5%;
    margin: 12px 0;
}